<header class="consulting-header">
      <div class="container">
          <div class="row wording-text">
              <div class="col-lg-12 ">
                <div class="banner-text">
                  <h1 class="tagline header-text-size">Consulting</h1>
                  <p>ntroduce the visitor to the business using clear, informative text. </p>
                  <p>Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                  <br>
                   <button class=" btn btn-success"><%= link_to "Contact Us", contacts_path%></button>
                </div>
              </div>
          </div>
      </div>
  </header>

  <div class="cta-skin">
         <div class="container">
             <div class="row">
                 <div class="col-sm-8">
                     <h3>A Better Education center</h3>
                     <p>
                         Thousands of teenagers across the UK will have school lessons in mindfulness in an experiment designed to see if it can protect against mental illness.
                     </p>
                 </div>
             </div>
         </div>
     </div>

     <div class="third-div">
         <div class="row">
            <div class="col-md-16">
              <div class="text-center">
                <h3 class="text-center header-third ">Lorem ipsum dolor sit amet consectetur.</h3>
                <svg x="0px" y="0px" width="108px" height="20px" viewbox="0 0 108 7" xml:space="preserve" class="decorative-divider">
                  <path stroke-width="10000" stroke-miterlimit="10" d="M1,6.001c1,0,4.049-4.927,6-5 c2.149-0.08,4.851,5.08,7,5c1.951-0.073,4.049-4.927,6-5c2.149-0.08,4.849,5,7,5s4.849-5,7-5s4.851,5.08,7,5 c1.951-0.073,4.049-4.927,6-5c2.149-0.08,4.851,5.08,7,5c1.951-0.073,4.049-4.927,6-5c2.149-0.08,4.849,5,7,5s4.849-5,7-5 s4.851,5.08,7,5c1.951-0.073,4.049-4.927,6-5c2.149-0.08,4.849,5,7,5s4.851-5.08,7-5c1.951,0.073,5,5,6,5"></path>
                </svg>
              </div>

              <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>

              <div class="row info-consol-sub">
              <div class="col-md-3 text-center ">
                <img src="http://icons.iconarchive.com/icons/matiasam/ios7-style/128/Clear-Tick-icon.png" class="img-circle" alt="Cinque Terre" width="50" height="50">
              <h4 class= "sub-divider-header">Intensive Practical Classes</h4>
                <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
                </div>
                <div class="col-md-3 text-center ">
                <img src="http://icons.iconarchive.com/icons/matiasam/ios7-style/128/Clear-Tick-icon.png" class="img-circle" alt="Cinque Terre" width="50" height="50">
              <h4  class= "sub-divider-header">Intensive Practical Classes</h4>
                <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
                </div>
                <div class="col-md-3 text-center ">
                <img src="http://icons.iconarchive.com/icons/matiasam/ios7-style/128/Clear-Tick-icon.png" class="img-circle" alt="Cinque Terre" width="50" height="50">
              <h4  class= "sub-divider-header">Intensive Practical Classes</h4>
                <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
                </div>
                <div class="col-md-3 text-center ">
                <img src="http://icons.iconarchive.com/icons/matiasam/ios7-style/128/Clear-Tick-icon.png" class="img-circle" alt="Cinque Terre" width="50" height="50">
              <h4  class= "sub-divider-header">Intensive Practical Classes</h4>
                <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
              </div>
            </div>
          </div>
        </div>
     </div>

     <header class="fourth-div ">
           <div class="container">
               <div class="row wording-text">
                   <div class="col-lg-12 ">
                     <div class="banner-text">
                       <h1 class="tagline header-text-size">Consulting</h1>
                       <p>ntroduce the visitor to the business using clear, informative text. </p>
                       <p>Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                       <br>
                       <a class="btn btn-success btn-md" href="#">Call to Action »</a>
                     </div>
                   </div>
               </div>
           </div>
       </header>
