<header class="consulting-header">
      <div class="container">
          <div class="row wording-text">
              <div class="col-lg-12 ">
                <div class="banner-text">
                  <h1 class="tagline header-text-size">Shaping Career, Empowering Future</h1>
                  <p>ntroduce the visitor to the business using clear, informative text. </p>
                  <p>Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                  <br>
                  <a class="btn btn-success btn-md" href="#">Call to Action »</a>
                </div>
              </div>
          </div>
      </div>
  </header>
<div class="container">
  <h1> Consulting </h1>
</div>
