<header class="consulting-header">
      <div class="container">
          <div class="row wording-text">
              <div class="col-lg-12 ">
                <div class="banner-text">
                  <h1 class="tagline header-text-size">Consulting</h1>
                  <p>ntroduce the visitor to the business using clear, informative text. </p>
                  <p>Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                  <br>
                   <button class=" btn btn-success"><%= link_to "Contact Us", contacts_path%></button>
                </div>
              </div>
          </div>
      </div>
  </header>

  <div class="cta-skin">
         <div class="container">
             <div class="row">
                 <div class="col-sm-8">
                     <h3>A Better Education center</h3>
                     <p>
                         Thousands of teenagers across the UK will have school lessons in mindfulness in an experiment designed to see if it can protect against mental illness.
                     </p>
                 </div>
             </div>
         </div>
     </div>

     <div class="third-div">
        <div class="shell text-center">
          <div class="range range-sm-center">
            <div class="cell-ms-10 cell-md-8">
              <h3>Welcome to Sunrise</h3>
              <svg x="0px" y="0px" width="108px" height="7px" viewbox="0 0 108 7" xml:space="preserve" class="decorative-divider">
                <path stroke-width="2" stroke-miterlimit="10" d="M1,6.001c1,0,4.049-4.927,6-5 c2.149-0.08,4.851,5.08,7,5c1.951-0.073,4.049-4.927,6-5c2.149-0.08,4.849,5,7,5s4.849-5,7-5s4.851,5.08,7,5 c1.951-0.073,4.049-4.927,6-5c2.149-0.08,4.851,5.08,7,5c1.951-0.073,4.049-4.927,6-5c2.149-0.08,4.849,5,7,5s4.849-5,7-5 s4.851,5.08,7,5c1.951-0.073,4.049-4.927,6-5c2.149-0.08,4.849,5,7,5s4.851-5.08,7-5c1.951,0.073,5,5,6,5"></path>
              </svg>
              <p>Our kindergarten has been in operation since 1996, for children from 2 to 6 years old. Close to the forest, the environment motivates the children to explore nature, find different forest animals and plants, go hiking, and play creative games.</p>
            </div>
          </div>
          <div class="range range-40 blurb-container">
            <div class="cell-sm-6 cell-md-3">
              <div class="blurb">
                <div class="icon-border glyphicons glyphicons-coins"></div>
                <h5><a href="#">Healthy Meals</a></h5>
                <p>Organic food freshly made at the kindergarten is available every day at our kitchen.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
              <div class="blurb">
                <div class="icon-border icon-lg icon-primary thin-ico thin-icon-book"></div>
                <h5><a href="#">Learning &amp; Fun</a></h5>
                <p>A wide variety of activities to stimulate language learning, such as art and crafts, baking, music.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
              <div class="blurb">
                <div class="icon-border icon-lg icon-primary thin-ico thin-icon-umbrella"></div>
                <h5><a href="#">Child Safety</a></h5>
                <p>Professional kindergarten teachers will take care of your child's safety as it's our #1 priority.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
              <div class="blurb">
                <div class="icon-border icon-lg icon-primary thin-ico thin-icon-map-marker"></div>
                <h5><a href="#">Convenient Location</a></h5>
                <p>Excellent location in the center of Manteca, CA, within 15 minutes from San Diego.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

     <header class="fourth-div ">
           <div class="container">
               <div class="row wording-text">
                   <div class="col-lg-12 ">
                     <div class="banner-text">
                       <h1 class="tagline header-text-size">Consulting</h1>
                       <p>ntroduce the visitor to the business using clear, informative text. </p>
                       <p>Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                       <br>
                       <a class="btn btn-success btn-md" href="#">Call to Action »</a>
                     </div>
                   </div>
               </div>
           </div>
       </header>
