<header class="consulting-header">
  <div class="">
    <%= react_component(('FirstDiv'), {prerender: true}) %>
  </div>
</header>
  <div class="cta-skin">
    <%= react_component(('SecondDiv'), {prerender: true}) %>
  </div>
 <div class="third-div">
     <%= react_component(('ThirdDiv'), {prerender: true}) %>
  </div>
   <div class="fourth-div ">
     <%= react_component(('FourthDiv'), {prerender: true}) %>
  </div>
