<header class="consulting-header">
      <div class="container">
          <div class="row wording-text">
              <div class="col-lg-12 ">
                <div class="banner-text">
                  <h1 class="tagline header-text-size">Consulting</h1>
                  <p>ntroduce the visitor to the business using clear, informative text. </p>
                  <p>Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                  <br>
                   <button class=" btn btn-success"><%= link_to "Contact Us", contacts_path%></button>
                </div>
              </div>
          </div>
      </div>
  </header>

  <div class="cta-skin">
         <div class="container">
             <div class="row">
                 <div class="col-sm-8">
                     <h3>A Better Education center</h3>
                     <p>
                         Thousands of teenagers across the UK will have school lessons in mindfulness in an experiment designed to see if it can protect against mental illness.
                     </p>
                 </div>
             </div>
         </div>
     </div>

     <div class="third-div">
         <div class="row">
            <div class="col-md-16">
              <div class="text-center">
                <h3 class="text-center header-third ">Lorem ipsum dolor sit amet consectetur.</h3>
                <hr class=" container style12">
                <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
              </div>

              <div class="row info-consol-sub">
              <div class="col-md-3 text-center ">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
              <h4 class= "sub-divider-header">Intensive Practical Classes</h4>
                <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
                </div>
                <div class="col-md-3 text-center ">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
              <h4  class= "sub-divider-header">Intensive Practical Classes</h4>
                <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
                </div>
                <div class="col-md-3 text-center ">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
              <h4  class= "sub-divider-header">Intensive Practical Classes</h4>
                <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
                </div>
                <div class="col-md-3 text-center ">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
              <h4  class= "sub-divider-header">Intensive Practical Classes</h4>
                <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
              </div>
            </div>
          </div>
        </div>
     </div>

     <header class="fourth-div ">
           <div class="container">
               <div class="row wording-text">
                   <div class="col-lg-12 ">
                     <div class="banner-text">
                       <h1 class="tagline header-text-size">Consulting</h1>
                       <p>ntroduce the visitor to the business using clear, informative text. </p>
                       <p>Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                       <br>
                       <a class="btn btn-success btn-md" href="#">Call to Action »</a>
                     </div>
                   </div>
               </div>
           </div>
       </header>
