<header class="consulting-header">
  <div class="">
    <%= react_component(('FirstDiv'), {prerender: true}) %>
  </div>
</header>
  <div class="cta-skin">
    <%= react_component(('SecondDiv'), {prerender: true}) %>
  </div>
 <div class="third-div">
   <div class="row">
    <div class="col-md-16">
      <div class="text-center">
        <h3 class="text-center header-third ">Lorem ipsum dolor sit amet consectetur.</h3>
        <hr class=" container style12">
        <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
      </div>
      <div class="row info-consol-sub">
        <div class="col-md-3 text-center ">
          <div class="icon-wrapper"><i class="fa fa-users custom-icon fa-5x"></i></div>
            <h4 class= "sub-divider-header">Intensive Practical Classes</h4>
            <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
        </div>
        <div class="col-md-3 text-center ">
          <div class="icon-wrapper"><i class="fa fa-clipboard custom-icon fa-5x"></i></div>
            <h4  class= "sub-divider-header">Intensive Practical Classes</h4>
            <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
        </div>
        <div class="col-md-3 text-center ">
          <div class="icon-wrapper"><i class="fa fa-bar-chart custom-icon fa-5x"></i></div>
            <h4  class= "sub-divider-header">Intensive Practical Classes</h4>
            <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
        </div>
        <div class="col-md-3 text-center ">
          <div class="icon-wrapper"><i class="fa fa-cubes custom-icon fa-5x"></i></div>
            <h4 class= "sub-divider-header">Intensive Practical Classes</h4>
            <p class="text-center infor-consol">The small element is used to create a lighter, secondary text in any heading:</p>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="fourth-div ">
     <div class="container">
       <div class="row wording-text">
         <div class="col-lg-12 ">
           <div class="banner-text">
             <h1 class="tagline header-text-size">Consulting</h1>
             <p>ntroduce the visitor to the business using clear, informative text. </p>
             <p>Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
             <br>
             <a class="btn btn-success btn-md" href="#">Call to Action »</a>
           </div>
         </div>
       </div>
     </div>
     </div>
