<div id="photo-div">
<div style='margin-top:5em;' id="photosForm">
<button  class='remove-file-option'>X</button>
<%= file_field_tag "photos[]", type: :file, multiple: true , style:"width:100%;" %>
<div id="target"></div>
</div>
</div>