#products-title {
  font-size: 44px;
  color: green;
  font-family: cursive;
  margin-top: 100px;
  font-weight: bold;
  margin-bottom: 25px;
  border-bottom-style: solid;
  border-color: #55A563;
}


#product-form {
  margin-left: 50px;
  white-space: pre-line;

}


.product-background {
  background-color: #F5FFF7 ;
  margin-bottom: 15px;
  margin-top: 80px;
  border-style: outset;
  border-color: #2F833E;
}
