.consulting-header {
    margin-top: 50px;
    height: 450px;
    background: url('/consulting.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

.banner-text {
  margin-top: 100px;
}

.header-text-size {
  font-size: 50px;
}

.cta-skin {
  background-color: #209b60;
  padding: 40px 0;
}
.cta-skin h3, .cta-skin p {
  color: #fff;
}


.fourth-div {
  height: 440px;
  background: url('/co.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;

}

.third-div {
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 40px;
}

.infor-consol {
  font-size: 18px;
}

.info-consol-sub {
  margin-top: 90px;
  text-align: center;
}

.sub-divider-header {
  font-size: 20px;
  font-weight: bold;
}

.header-third {
  font-size: 40px;
  font-weight: bold;
  // font-family:'Open Sans', Arial, sans-serif;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
  width: 254px;
}
