.consulting-header {
    margin-top: 50px;
    height: 450px;
    background: url('/plastic.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

.banner-text {
  margin-top: 140px;
}
