#header-nav {
  font-family:"Baskerville", Monaco, monospace;
  font-size: 15px;
  font-weight: bold;


}

#header-nav  a {
  color: darkgreen;
}
#header-nav .nav > li > a:hover{
    background-color:#B7E8D9;
}

.nav-background {
  background-color:#D3F8D9 ;
  font-color: black;
  opacity: .9;

}

.toggle-color {
  background-color: darkgreen;
}
