.image1 {
height: 400px;
}

.banner-move {
  margin-top: 50px;
}

.home-page {
  margin-top: 50px;
  margin-bottom: 150px;
}
.home-title {
  font-size: 44px;
  color: green;
  font-family:"Baskerville", Monaco, monospace;
  margin-bottom: 25px;
  border-bottom-style: solid;
  border-color: #55A563;
}

.border-image {
  border-style: solid;
  border-color: #55A563;
}
.panel-color {
  background-color:  #D3F8D9 ;
}

.panel-color1 {
  background-color: #D9FFE8;
}

.panel-color2 {
  background-color:  #D3F8D9 ;
}

.panel-color-body {
  background-color: #F4FFF6;
}

@media only screen and(max-width:768px) {
  .image1 {
    height:200px!important;
  }
}
