.image1 {
height: 400px;
}

.banner-move {
  margin-top: 50px;
}

.home-page {
  margin-top: 50px;
  margin-bottom: 150px;
}
.home-title {
  font-size: 44px;
  color: #003366;
  font-family:"Abel", Monaco, monospace;
  margin-bottom: 25px;
  border-bottom-style: solid;
  border-color: black;
  text-align: center;
}

.information-boxes {
  margin-top: 50px;
  margin-bottom: 60px;
}
.panel-color {
  background-color:  #CBF3BB    ;
    box-shadow: 10px 10px 10px #888888;
}

.panel-color1 {
  background-color: #CBF3BB    ;
    box-shadow: 10px 10px 10px #888888;
}

.panel-color2 {
  background-color:#CBF3BB  ;
    box-shadow: 10px 10px 10px #888888;
}

.panel-color-body {
  background-color: #F5EFD5   ;
    box-shadow: 10px 10px 10px #888888;
}

@media only screen and(max-width:768px) {
  .image1 {
    height:200px!important;
  }
}
