.inventory-index {
  table-layout: auto;
  background-color: #CDFFF1;
  border-style: outset;
  border-color: #2F833E;
  display: block;
  margin-left: 20%;
  margin-bottom: 15px;
  margin-top: 80px;
}

#iventory-title {
  font-size: 44px;
  color: green;
  font-family: cursive;
  margin-top: 100px;
  font-weight: bold;
  margin-bottom: 25px;
  border-bottom-style: solid;
  border-color: #55A563;

}

#inventory-header {
  background-color: #99E8B7;
  font-size: 18px;
  font-family: cursive;
  border-style: groove;
}

#inventory-information {
  background-color: #E5FAED;
  border-style:ridge;
}
