.inventory-index {
  table-layout: auto;
  background-color: #F9FFFA ;
  border-style: outset;
  border-color: #2F833E;
  display: block;
  margin-left: 20%;
  margin-bottom: 15px;
  margin-top: 80px;
  border-radius: 2em;
  box-shadow: 10px 10px 10px #888888;
}

#iventory-title {
  font-size: 44px;
  color: green;
  font-family:"Baskerville", Monaco, monospace;
  margin-top: 100px;
  margin-bottom: 25px;
  border-bottom-style: solid;
  border-color: #55A563;
}
#button-space {
  margin-bottom: 20px;
}
#inventory-header {
  background-color: #99E8B7;
  font-size: 18px;
  font-family: 'Times New Roman';
  border-style: groove;
}

#inventory-information {
  background-color: #E5FAED;
  border-style:ridge;
}

#inventory-new-form {
  color: darkgreen;
  font-family:"Helvetica";
  margin-bottom: 25px;
  font-size: 15px;
  padding: 20px;
  background-color: #F9FFFA ;
  margin-bottom: 60px;
  margin-top: 80px;
  border-style: outset;
  border-color: #2F833E;
  border-radius: 2em;
  box-shadow: 10px 10px 10px #888888;
}


.center-image {
  margin-top: 14px;
  margin-left: 135px;
}

#show-page-title {
  font-size: 65px;
  text-align: center;
}

.carousel-control     		 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -16.7%; }
	.carousel-inner .next        { left:  16.7%; }
	.carousel-inner .prev		 { left: -16.7%; }
}

.cap {
  margin-top: 20px;
}

.show-page {
  margin-top: 100px;
}

@media only screen and(max-width:768px) {
  .center-image {
    margin-top: 14px;
    margin-left: 45px;
  }
}
