.inventory-index {
  table-layout: auto;

}

#iventory-title {
  font-size: 44px;
  color: green;
  font-family: cursive;
  margin-top: 100px;
  font-weight: bold;

}

#inventory-header {
  background-color: lightgreen;
  font-size: 14px;
  font-family: cursive;
}
