#login {
  color: darkgreen;
  font-family:"Helvetica";
  font-size: 15px;
  padding: 55px;
  background-color: #F9FFFA ;
  margin-bottom: 60px;
  margin-top: 80px;
  border-style: outset;
  border-color: #2F833E;
  border-radius: 2em;
  box-shadow: 10px 10px 10px #888888;
}
.set-logo {
    // background:#fff;
    color:#ddd;
    border-radius:500%;
    padding:11px;
    font-size:108px;
    border: solid #ddd 14px;
}
.logo {
    margin-top:27px;
    margin-bottom:54px;
}
//
// .last-row {
//     margin-bottom:0px;
// }
//
// .checklabel {
//     font-weight:100;
// }
