.password-reset {
  color: darkgreen;
  font-family:"Helvetica";
  margin-bottom: 25px;
  font-size: 15px;
  padding: 20px;
  background-color: #F9FFFA ;
  margin-bottom: 60px;
  margin-top: 80px;
  border-style: outset;
  border-color: #2F833E;
  border-radius: 2em;
  box-shadow: 10px 10px 10px #888888;

}
